#!/bin/bash

#!/bin/bash

sealos run {{ playbook_dir }}/offline_pkgs/docker/kubernetes.tar {{ playbook_dir }}/offline_pkgs/docker/calico.tar \
--masters="{{ hostvars[groups['controller_group'][0]]['ansible_host'] }}"